# Data Types and Structures

## Data Types and Structures Questions

1. What are data structures, and why are they important?
   - Data structures are specialized formats for organizing, processing, and storing data. They're important because they enable efficient data management and manipulation.

2. Explain the difference between mutable and immutable data types with examples.
   - Mutable data types can be changed after creation, like lists. Immutable types cannot be altered, such as tuples and strings.

3. What are the main differences between lists and tuples in Python?
   - Lists are mutable and can be changed, while tuples are immutable and cannot be modified. Additionally, lists use square brackets, whereas tuples use parentheses.

4. Describe how dictionaries store data.
   - Dictionaries store data in key-value pairs, allowing quick access using unique keys. They use hash tables for efficient data lookup.

5. Why might you use a set instead of a list in Python?
   - Sets are used for storing unique items and eliminating duplicates, whereas lists allow duplicates and maintain order.

6. What is a string in Python, and how is it different from a list?
   - A string is a sequence of characters, while a list can contain different types of items, including strings. Strings are immutable, while lists are mutable.

7. How do tuples ensure data integrity in Python?
   - Tuples maintain data integrity by being immutable, meaning once created, their values cannot be changed, preventing accidental data alterations.

8. What is a hash table, and how does it relate to dictionaries in Python?
   - A hash table is a data structure that maps keys to values, enabling quick data retrieval. Python dictionaries are implemented using hash tables.

9. Can lists contain different data types in Python?
   - Yes, lists in Python can hold items of different data types, such as integers, strings, and even other lists.

10. Explain why strings are immutable in Python.
    - Strings are immutable to protect their state and ensure consistent behavior, which is important for performance and memory management.

11. What advantages do dictionaries offer over lists for certain tasks?
    - Dictionaries provide faster access through keys and eliminate duplicates, making them ideal for tasks requiring unique identifiers and quick lookups.

12. Describe a scenario where a tuple would be preferable over a list.
    - Using a tuple is preferable when you need a fixed collection of values that shouldn’t change, like coordinates (x, y).

13. How do sets handle duplicate values in Python?
    - Sets automatically eliminate duplicate values, ensuring that all items are unique upon insertion.

14. How does the “in” keyword work differently for lists and dictionaries?
    - In lists, “in” checks for the presence of a value, while in dictionaries, it checks for the existence of keys.

15. Can you modify the elements of a tuple? Explain why or why not.
    - No, you cannot modify tuple elements since they are immutable, ensuring their integrity and stability throughout the program.

16. What is a nested dictionary, and give an example of its use cases?
    -A nested dictionary is a dictionary that contains other dictionaries as its values. This structure allows for organizing data in a hierarchical manner. 

17. Describe the time complexity of accessing elements in a dictionary.
    - Accessing elements in a dictionary has an average time complexity of O(1), making it very efficient for lookups.

18. In what situations are lists preferred over dictionaries?
    - Lists are preferred for ordered collections of items, especially when duplicates are allowed, or when sequence matters.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?
    - Dictionaries do not maintain the order of items, which means data retrieval relies on key lookups rather than positional access.

20. Explain the difference between a list and a dictionary in terms of data retrieval.
    - Lists retrieve data by index position, while dictionaries retrieve data by key, allowing for faster searches.

## Practical Questions

In [87]:
1. # Write a code to create a string with your name and print it.

name = "Md Allama Akbal"  # Replace "Your Name" with your actual name
print(name)

Md Allama Akbal

In [88]:
2. # Write a code to find the length of the string "Hello World". 

length = ("Hello World")
len(length)

11

In [89]:
3. # Write a code to slice the first 3 characters from the string "Python Programming". 

sliced_string = "Python Programming"
sliced_string[0:3]

'Pyt'

In [90]:
4. # Write a code to convert the string "hello" to uppercase. 

upper_string = "hello"
upper_string.upper()

'HELLO'

In [91]:
5. # Write a code to replace the word "apple" with "orange" in the string "I like apple". 

orignal_string = "I like apple"
new_string = orignal_string.replace("apple","orange")
print(new_string)

I like orange

In [92]:
6. # Write a code to create a list with numbers 1 to 5 and print it. 

num_list = [1,2,3,4,4,5]
print(num_list)

[1, 2, 3, 4, 4, 5]

In [93]:
7. # Write a code to append the number 10 to the list [1, 2, 3, 4]. 

my_list = [1,2,3,4]
my_list.append(10)
print(my_list)

[1, 2, 3, 4, 10]

In [94]:
8. # Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]. 

num_list2 = [1,2,3,4,5]
num_list2.remove(3)
print(num_list2)

[1, 2, 4, 5]

In [95]:
9. # Write a code to access the second element in the list ['a', 'b', 'c', 'd']. 

nw_list = ['a', 'b', 'c', 'd']  # Index 1 is the second element
nw_list[1]

'b'

In [96]:
10. # Write a code to reverse the list [10, 20, 30, 40, 50].

new_list =  [10, 20, 30, 40, 50]
new_list[ : :-1]

[50, 40, 30, 20, 10]

In [97]:
11. #  Write a code to create a tuple with the elements 100, 200, 300 and print it. 

my_tuple = (100,200,300)
print(my_tuple)

(100, 200, 300)

In [98]:
12. #  Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow'). 

colors = ('red', 'green', 'blue', 'yellow') 
colors[1:]

('green', 'blue', 'yellow')

In [99]:
13. # Write a code to find the minimum number in the tuple (10, 20, 5, 15). 

tuple2 = (10, 20, 5, 15)
min(tuple2)

5

In [100]:
14. #  Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit'). 

animals = ('dog', 'cat', 'rabbit') 
animals.index("cat")

1

In [101]:
15. #  Write a code to create a tuple containing three different fruits and check if "kiwi" is in it. 

fruits = ("mango","apple","banana")
search = "kiwi"
if search in fruits:
    print("kiwi is persent in fruits")
else:
    print("kiwi is not persent in fruits")

kiwi is not persent in fruits

In [102]:
16. # Write a code to create a set with the elements 'a', 'b', 'c' and print it. 

my_set = {"a","b","c"}
print(my_set)

{'c', 'b', 'a'}

In [103]:
17. # Write a code to clear all elements from the set {1, 2, 3, 4, 5}. 

nw_set = {1, 2, 3, 4, 5} 
nw_set.clear()

In [104]:
18. #  Write a code to remove the element 4 from the set {1, 2, 3, 4}. 

my_set2 = {1, 2, 3, 4} 
my_set2.remove(4)
print(my_set2)

{1, 2, 3}

In [105]:
19. #  Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}. 

set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5}

In [106]:
20. # Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}. 

set_1 = {1, 2, 3}
set_2 = {2, 3, 4}
intersection_set = set_1.intersection(set_2)
print(intersection_set)

{2, 3}

In [107]:
21. #  Write a code to create a dictionary with the keys "name", "age", and "city", and print it. 

my_dict = {"name" : "Md Allama Akbal", "age" : 21, "city" : "New Delhi"}
print(my_dict)

{'name': 'Md Allama Akbal', 'age': 21, 'city': 'New Delhi'}

In [108]:
22. # Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}. 

my_dict2 = {"name" : "john", "age" : 25}

my_dict2["country"] = "USA"
print(my_dict2)

{'name': 'john', 'age': 25, 'country': 'USA'}

In [109]:
23. # Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}. 

nw_dict = {'name': 'Alice', 'age': 30} 
nw_dict["name"]

'Alice'

In [110]:
24. #  Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}. 

my_dict3 = {'name': 'Bob', 'age': 22, 'city': 'New York'} 
my_dict3.pop("age")
print(my_dict3)

{'name': 'Bob', 'city': 'New York'}

In [111]:
25. # Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}. 

my_dict4 = {'name': 'Alice', 'city': 'Paris'} 
search = "city"
if search in my_dict4: 
    print("City Exists")
else:
    print("City Not Exists")

City Exists

In [112]:
26. # Write a code to create a list, a tuple, and a dictionary, and print them all. 

my_list1 = [1,2,3, "PWskills", 3+5j]
my_tuple1 = (1,2,3,4,5)
my_dict_1 = {"name" : "Md Allama Akbal"}

table = my_list1, my_tuple1, my_dict_1
print(table)

([1, 2, 3, 'PWskills', (3+5j)], (1, 2, 3, 4, 5), {'name': 'Md Allama Akbal'})

In [137]:
27. # Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced). 

import random

random_numbers = random.sample(range(1, 101), 5)  # 5 unique random numbers
random_numbers.sort()
print(random_numbers)  # Output will vary, e.g., [10, 25, 30, 45, 85]

[2, 10, 73, 80, 88]

In [138]:
28. # Write a code to create a list with strings and print the element at the third index. 

my_list2 = ["PwSkills", "Data Science", "Ajay Sir"]
my_list2[2]

'Ajay Sir'

In [139]:
29. # Write a code to combine two dictionaries into one and print the result. 

# Define two dictionaries
birds = {"name" : "pecock"}
birds1 = {"place" : "nest"}

# Combine dictionaries using the update method
combined_dict = birds.copy()     # Make a copy of birds
combined_dict.update(birds1)      # Update with birds1

# Print the result
print(combined_dict)

{'name': 'pecock', 'place': 'nest'}

In [140]:
30. # Write a code to convert a list of strings into a set. 

# Sample list of strings
string_list = ["apple", "banana", "orange", "apple", "banana"]

# Convert the list to a set
string_set = set(string_list)

# Print the resulting set
print(string_set)

{'banana', 'orange', 'apple'}